{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
  <section class="probootstrap-slider flexslider">

    <ul class="slides">
      <li style="background-image: url({% static 'img/aa.png' %});" ></li>
      <li style="background-image: url({% static 'img/aa.png' %});"></li>
      <li style="background-image: url({% static 'img/aa.png' %});" ></li>
    </ul>
  </section>
  <!-- END: slider  -->

  <section class="probootstrap-section probootstrap-section-lighter">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="probootstrap-card text-center probootstrap-animate">
            <div class="probootstrap-card-media svg-sm colored">
              <img src="{% static 'img/flaticon/svg/001-prize.svg' %}" class="svg" alt="">
            </div>
            <div class="probootstrap-card-text">
              <h2 class="probootstrap-card-heading">Award Winning Brooker</h2>
              <p>The following is a list of winners and shortlisted authors of the Booker Prize for Fiction. Winning titles are listed in yellow, first in their year.</p>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="probootstrap-card text-center probootstrap-animate">
            <div class="probootstrap-card-media svg-sm colored">
              <img src="{% static 'img/flaticon/svg/005-new.svg' %}" class="svg" alt="">
            </div>
            <div class="probootstrap-card-text">
              <h2 class="probootstrap-card-heading">New Houses</h2>
              <p>Get details of the Residential property available For Sale in New Delhi. Latest listings of Apartments, flats, houses, duplex, penthouse, plot, land</p>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="probootstrap-card text-center  probootstrap-animate">
            <div class="probootstrap-card-media svg-sm colored">
              <img src="{% static 'img/flaticon/svg/006-coin.svg' %}" class="svg" alt="Free HTML5 Template by uicookies.com">
            </div>
            <div class="probootstrap-card-text">
              <h2 class="probootstrap-card-heading">Affordable Houses</h2>
              <p>The affordable housing schemes aimed to help lower-income households to buy their own homes. They offered eligible first-time purchasers the chance to buy newly constructed homes and apartments at prices significantly less than their market value</p>


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END: section -->

  <section class="probootstrap-section">
    <div class="container">
      <div class="row heading">
        <h2 class="mt0 mb50 text-center">Explore Our Neighborhoods</h2>
      </div>
      <div class="row probootstrap-gutter10">
        <div class="col-md-6 col-sm-6">
          <a href="#" class="probootstrap-hover-overlay">
            <img src="{% static 'img/gurgaon.jpg' %}"  class="img-responsive">
            <div class="probootstrap-text-overlay">
              <h3>GURGAON</h3>
              <p>100 Properties</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-sm-6">
          <a href="#" class="probootstrap-hover-overlay">
            <img src="{% static 'img/delhi.jpg' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
            <div class="probootstrap-text-overlay">
              <h3>Delhi</h3>
              <p>100 Properties</p>
            </div>
          </a>
        </div>
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-4 col-sm-6">
          <a href="#" class="probootstrap-hover-overlay">
            <img src="{% static 'img/hydrabad.jpg' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
            <div class="probootstrap-text-overlay">
              <h3>HYDREABAD</h3>
              <p>100 Properties</p>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="#" class="probootstrap-hover-overlay">
            <img src="{% static 'img/noida.png' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
            <div class="probootstrap-text-overlay">
              <h3>NOIDA</h3>
              <p>100 Properties</p>
            </div>
          </a>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6">
          <a href="#" class="probootstrap-hover-overlay">
            <img src="{% static 'img/bang.jpg' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
            <div class="probootstrap-text-overlay">
              <h3>BANGLORE</h3>
              <p>100 Properties</p>
            </div>
          </a>
        </div>

      </div>
    </div>
  </section>
  <!-- END: section -->


  <!-- END: section -->




  <section class="probootstrap-half reverse">
    <div class="image-wrap">
      <div class="image" style="background-image: url({% static 'img/slider_5.jpg' %});"></div>
    </div>
    <div class="text">
      <p class="mb10 subtitle">Why Choose Us</p>
      <h3 class="mt0 mb40">You Will Love Our Services</h3>
      <p>What to ask landlord before renting a house is very important to ensure that you stay there happy for a long time. We tell you the main questions to ask that form a checklist to look for when renting a house.

If buying a house is a big decision, finding a house for rent is not in any way smaller. Finding the right apartment to rent is a big decision as it affects your life and lifestyle. It affects everything from your commuting time to where you eat and sleep to where you shop for groceries and whether you can easily host guests.

Before you finally make up your mind about the area, make sure you have asked the right questions before renting. Doing your homework is very important because after you have signed a lease, it may become difficult to cancel it. Here is a set of questions that you should ask when looking for an apartment to rent:</p>

    </div>
  </section>

  <section class="probootstrap-section">
    <div class="container">
      <div class="row heading">
        <h2 class="mt0 mb50 text-center">Our Services</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service text-center">
            <div class="icon"><i class="icon-list2"></i></div>
            <h2 class="heading">Property Listing</h2>
            <p>Mostly the tenants need to pay the maintenance amount to the resident welfare associations or management bodies of gated communities. So as to not enter in any conflict later, ask the landlord who will pay the extra maintenance cost, in addition to the monthly rent. .</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service text-center">
            <div class="icon"><i class="icon-power-cord"></i></div>
            <h2 class="heading">Property Management</h2>
            <p>Get rentals on every 5th of the month irrespective of defaults from tenants.</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service text-center">
            <div class="icon"><i class="icon-price-tag2"></i></div>
            <h2 class="heading">Renting Properties</h2>
            <p>Ask the landlord what safety measures the property has, including a watchman, double door lock or a CCTV camera. You can also ask or research about the neighbourhood's safety quotient is it a relatively safe area or not?.</p>
          </div>
        </div>
        <div class="clearfix visible-lg-block visible-md-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service text-center">
            <div class="icon"><i class="icon-direction"></i></div>
            <h2 class="heading">Selling Properties</h2>
            <p>Even if you opt for a developing area to lower your rental expense, be sure that essential commodities of daily use are easily accessible. Be clear on what you want and what the landlord expects. As a tenant you should question the landlord before finalising on a house.</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service text-center">
            <div class="icon"><i class="icon-home3"></i></div>
            <h2 class="heading">Brook A Property</h2>
            <p>It is up the tenant to do their own research and inspect the dwelling and surrounding area before they sign the agreement and move in,</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <div class="service text-center">
            <div class="icon"><i class="icon-magnifying-glass"></i></div>
            <h2 class="heading">Search Property</h2>
            <p>Renting to own a home is somewhat similar to a car lease. The seller has given his tenant the right to buy the house at some point in the future, usually one to three years out, for a price that is agreed upon today.</p>
          </div>
        </div>
        <div class="clearfix visible-lg-block visible-md-block"></div>
      </div>
    </div>
  </section>

  <!-- END: section -->





{% endblock %}
